[workspace]
members = [
    "wado-server",
    "storescp",
    "common",
    "consumer-storage-kafka",
    "charset-helper",
    "mysql-demo",
    "license-server","logstate"
, "dicom-encrypt"]

# use edition 2021 resolver
resolver = "2"
