[workspace]
members = [
    "wado-server",
    "storescp",
    "common",
    "consumer-storage-kafka",
    "charset-helper",
    "mysql-demo",
    "change-transfer-kafka", "license-server",
]

# use edition 2021 resolver
resolver = "2"
