[workspace]
members = [
    "wado-server",
    "storescp",
    "common",
    "consumer-storage-kafka",
    "charset-helper",
    "mysql-demo",
    "consumer-change-transfer-kafka",
]

# use edition 2021 resolver
resolver = "2"
