
services:
  redpanda:
    image: docker.redpanda.com/redpandadata/redpanda:latest # 使用最新的稳定版本
    container_name: redpanda
    command:
      - redpanda
      - start
      - --kafka-addr internal://0.0.0.0:9092,external://0.0.0.0:19092 # Kafka API地址
      - --advertise-kafka-addr internal://redpanda:9092,external://localhost:19092 # 广播地址
      - --mode dev-container
      - --smp 1 # 仅使用一个CPU核心用于开发环境
    ports:
      - "19092:19092" # 暴露给外部应用的 Kafka 端口
      - "9644:9644" # Admin API 端口
    volumes:
      - redpanda_data:/var/lib/redpanda/data # 挂载数据卷
    networks:
      - xdicom_network
  
  redis:
    image: redis
    container_name: xdcm_redis
    restart: always
    volumes:
      - redata:/data
    ports:
      - "6379:6379"
    networks:
      - xdicom_network

  postgresql:
    image: ankane/pgvector:latest
    container_name: xdcm_pg
    restart: always
    environment:
      POSTGRES_PASSWORD: "xdicom3ks"
      POSTGRES_USER: "xdcm_admin"
      PGTZ: "Asia/Shanghai"
    volumes:
    # 仅使用命名卷持久化数据，避免文件覆盖冲突
    - pgdata:/var/lib/postgresql/data
    # 将配置文件挂载到一个标准但独立的配置路径
    - ./pg_hba.conf:/etc/postgresql/pg_hba.conf
    - ./init-scripts:/docker-entrypoint-initdb.d  # 添加初始化脚本目录
    ports:
      - "5432:5432"
    networks:
      - xdicom_network
    # ⭐ 新增: 明确告诉 PostgreSQL 启动时加载的新配置文件路径
    command: ["postgres", "-c", "hba_file=/etc/postgresql/pg_hba.conf"]

  minio:
    image: minio/minio
    # 容器名称
    container_name: xdcm_minio

    # 映射端口：9000 用于 S3 API，9001 用于 Web Console
    ports:
      - "9000:9000"
      - "9001:9001"

    # 设置访问密钥和密码
    environment:
      MINIO_ROOT_USER: "xdcm_admin"
      MINIO_ROOT_PASSWORD: "xdicom3ks"

    # 数据持久化卷 
    volumes:
      - minio_data:/data

    # 启动命令
    command: server /data --console-address ":9001"

    # 自动重启设置
    restart: always

    networks:
      - xdicom_network

  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: xdcm_clickhouse
    hostname: clickhouse
    ports:
      - "8123:8123"  #   HTTP接口
      - "9007:9000"  #  将主机端口改为9001，避免与minio冲突
      - "9009:9009"  #  MySQL兼容接口
    environment:
      - CLICKHOUSE_USER=xdcm_admin
      - CLICKHOUSE_PASSWORD=xdicom3ks
      - CLICKHOUSE_DB=default
    volumes:
      - clickhouse_data:/var/lib/clickhouse
    
    networks:
      - xdicom_network
    restart: always

networks:
  xdicom_network:
    driver: bridge
volumes:
  pgdata:
  redata:
  minio_data:
  redpanda_data:
  clickhouse_data: